<h1>New Watcher</h1>

<p>When creating for the first time, the watcher will be executed now and then be scheduled based on the Timer you put</p>

<%= render 'form', watcher: @watcher %>

<%= link_to 'Back', watchers_path %>
